.background {
    -fx-font-family: "Source Code Pro";
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100F1B, #322D51);
    -fx-border-radius: 10px;
    -fx-border-color: #9687F3;
}

.dashboardLabel, .utilButtons, .dashboardButtons, .infoLabels, .textFields, .checkBox, .closeButton, .adminInfoLabels {
    -fx-font-family: "Source Code Pro";
    -fx-border-radius: 10px;
    -fx-border-color: #9687F3;
}

.dashboardLabel {
    -fx-font-family: "Source Code Pro";
    -fx-text-fill: white;
    -fx-font-size: 20px;
}

.utilButtons, .dashboardButtons, .infoLabels, .textFields, .checkBox, .closeButton, .adminInfoLabels {
    -fx-font-family: "Source Code Pro";
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100F1B, #322D51);
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.infoLabels, .adminInfoLabels {
    -fx-font-family: "Source Code Pro";
    -fx-text-alignment: center;
    -fx-padding: 10px;
    -fx-border-width: 2px;
}

.textFields {
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #100F1B, #322D51);
    -fx-font-family: "Source Code Pro";
    -fx-prompt-text-fill: white;
    -fx-font-size: 10px;
}

.closeButton:hover {
    -fx-font-family: "Source Code Pro";
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, RED, DARKRED);
}

